.main {
  height: 100%;
  overflow-y: auto;
}

.library {
  padding: 0 32px;
}

.library button {
  aspect-ratio: 1;
  background: var(--light-grey);
  height: auto;
  margin: 2px 8px;
  padding: 0;
  padding: 0 8px;
}

.artist {
  padding: 6px 0;
}

.album {
  padding-left: 16px;
  font-variation-settings: 'wdth' 100, 'wght' 500;
}

.song {
  padding: 6px 0 6px 32px;
}
