.library {
  background: white;
  padding: 16px 32px;
}

.library button {
  background: var(--light-grey);
  height: auto;
  margin: 2px 8px;
  padding: 0;
  padding: 0 8px;
  aspect-ratio: 1;
  border-radius: 4px;
}

.artist {
  padding: 4px 0;
}

.album {
  padding-left: 16px;
  font-variation-settings: 'wdth' 100, 'wght' 500;
}

.song {
  padding: 6px 0 6px 32px;
}
