.window {
  --shadow-height: 16px;

  height: 100%;
  overflow-y: auto;
}

.topShadow {
  background: linear-gradient(white, transparent);
  height: var(--shadow-height);
  position: sticky;
  top: 0;
  width: 100%;
}

.bottomShadow {
  background: linear-gradient(transparent, white);
  bottom: 0px;
  height: var(--shadow-height);
  position: sticky;
  width: 100%;
}

.library {
  padding: 0 32px;
}

.library button {
  background: var(--light-grey);
  height: auto;
  margin: 2px 8px;
  padding: 0;
  padding: 0 8px;
  aspect-ratio: 1;
  border-radius: 4px;
}

.artist {
  padding: 6px 0;
}

.album {
  padding-left: 16px;
  font-variation-settings: 'wdth' 100, 'wght' 500;
}

.song {
  padding: 6px 0 6px 32px;
}
