.main {
  height: 100%;
  overflow-y: auto;
}

.queue {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 32px;
}

.entry {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  padding: 8px 16px;
  white-space: pre;
}

.entry button {
  flex-shrink: 0;
  background: transparent;
  padding: 0;
}

.text {
  max-width: calc(100% - 32px);
}

.song {
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist {
  font-size: var(--small-size);
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected {
  background: var(--light-grey);
  border-radius: 6px;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
}

