.main {
  /*
  height: 80%;
  border: 1px solid yellow;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  */
}

.queue {
  /*
  max-height: 100%;
  background: white;
  padding: 16px;
  overflow: auto;
  flex-grow: 1;
  */
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.entry {
  padding: 8px 16px;
  max-width: 100%;
  white-space: pre;
}

.song {
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist {
  font-size: 14px;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected {
  background: var(--light-grey);
  border-radius: 6px;
}
