.tabs {
  display: flex;
}

.title {
  font-variation-settings: 'wdth' 100, 'wght' 500;
}

.details {
  font-size: var(--small-size);
}

.tab {
  align-items: center;
  border-radius: 0 0 8px 8px;
  color: white;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 16px;
}

.selected {
  background: white;
  color: black;
}
