.tabs {
  display: flex;
}

.title {
  font-variation-settings: 'wdth' 110, 'wght' 500;
}

.details {
  font-size: 14px;
}

.tab {
  align-items: center;
  color: white;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 16px;
  border-radius: 0 0 8px 8px;
}

.selected {
  color: black;
  background: white;
}
