:root {
  --small-size: 15px;
  --size: 18px;
  --large-size: 20px;

  --shadow-height: 16px;

  --white: #fff;
  --light-grey: #dfdfdf;
  --grey: #888;
  --dark-grey: #484848;
}

@font-face {
  font-family: OpenSans;
  src: url("./assets/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

html {
  box-sizing: border-box;
  font-family: OpenSans, Inter, Arial, sans-serif;
  font-synthesis: none;
  font-variation-settings: 'wdth' 90, 'wght' 400;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--dark-grey);
  font-size: var(--size);
  margin: 0;
}

button {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-variation-settings: 'wght' 500;
}

.bottom-shadow {
  background: linear-gradient(transparent, white);
  bottom: 0px;
  height: var(--shadow-height);
  position: sticky;
  width: 100%;
}

.top-shadow {
  background: linear-gradient(white, transparent);
  height: var(--shadow-height);
  position: sticky;
  top: 0;
  width: 100%;
}
